* {
    display: block;
}

/* FONT COLORS */

.orange {
  color:orange;  
}

.white {
    color: white;
}

/* BACKGROUND COLORS */

.black-background {
    background-color: black;
}

.red-background {
    background-color: red;
}

/* UTILITES */

.rotate-45 {
    transform: rotate(45deg);
}

.rotate-negative-45 {
    transform: rotate(-45deg)
}

/* NAV BAR */

nav {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 65px;
}

#nav-bar-left {
    position: absolute;
    width: 200px;
    /* border: 1px solid orange; */
    left: 84px;
    top: 16px;
}

#nav-bar-right {
    position: absolute;
    top: 24px;
    right: 74px;
}

#nav-bar-buttons {
    width: 300px;
    /* border: 1px solid red; */
    display: -webkit-inline-box;
}

.nav-btn {
    margin-left: 5px;
}

/* @media (min-width:500px){
    #nav-bar-left{
        width: 300px;
        border: 1px solid white;
    }
} */

/* HERO ONE BARBELL */

#hero-one-barbell {
    height: 400px;
    background: url('./assets/barbell.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
}

/* SPECIAL SERVICES OVERLAY */

#special-services-overlay {
    position: relative;
    margin: auto;
    z-index: 100;
    height: 200px;
    width: 200px;
    background: black;
}

#special-overlay-body {
    position: absolute;
    width: 124px;
    top: 25%;
    left: 44px;
}

#special-overlay-tag {
    position: absolute;
    border: 1px solid white;
    bottom: 27px;
    left: 120px;
}

.special-overlay-text {
    transform: rotate(-45deg)
}

/* PANORAMA BOX CONTAINER */
#panorama-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.panorama-box {
    position: relative;
    height: 80px;
    width: 80px;
    z-index: 150;
    border: 2px solid red;
}

.panorama-box-icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

.panorama-box-text {
    position: absolute; 
    bottom: 14px;
    left: 31px;
    width: 50px;
    font-size: 12px;
    text-align: center;
}

/* HERO TWO EXPERTS AND TRAINERS */

#hero-two-trainers {
    position: relative;
}

#experts-and-trainers-text {
    margin-top: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

#experts-and-trainers-text i {
    margin-right: 6px;
}

#trainer-carousel {
   position: relative;
   width: 636px;
   display: flex;
   justify-content: space-evenly;
   margin: auto;
}

.trainer-wrapper {
    position: relative;
    height: 270px;
    width: 190px;
}

.trainer-image-box {
    width: 100%;
    height: 210px;
    border: 1px solid black;
}

.trainer-image-box-image {
    background: url('./assets/barbell.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.trainer-media-container {
    position: absolute;
    height: 90px;
    width: 140px;
    background: red;
    border: 8px solid blue;
    bottom: 0px;
    left: 17px;
    text-align: center;
}

.trainer-media-wrapper {
    height: 50px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.trainer-media-name-text {
    font-size: 20px;
}